[Desktop Entry]
Type=Application
TryExec=/usr/bin/budgie-desktop
Hidden=false
Exec=/usr/bin/budgie-desktop
Name=Budgie Desktop
Name[fi]=Budgie-työpöytä
Name[ms_MY]=Desktop Budgie
Name[zh_TW]=Budgie 桌面
Name[hr]=Budgie radno okruženje
Name[it]=Desktop Budgie
Name[pl]=Środowisko graficzne Budgie
Name[lv]=Budgie Darbvirsma
Name[sl]=Namizje Budgie
Name[ja_JP]=Budgieデスクトップ
Name[es_US]=Escritorio Budgie
Name[de]=Budgie Desktop
Name[pt_BR]=Área de trabalho Budgie
Name[fr_BE]=Bureau Budgie
Name[en_US]=Budgie Desktop
Name[eu]=Budgie Mahaigaina
Name[ru]=Рабочий стол Budgie
Name[ga]=Deasc Budgie
Name[es]=Escritorio Budgie
Name[ca]=Escriptori Budgie
Name[ro]=Desktop Budgie
Name[pt_PT]=Ambiente de trabalho Budgie
Name[es_MX]=Escritorio Budgie
Name[cs]=Prostředí Budgie
Name[hu]=Budgie asztal
Name[nl]=Budgie Bureaublad
Name[eo]=Budgie Labortablo
Name[es_PE]=Escritorio Budgie
Name[zh_HK]=Budgie 桌面
Name[vi_VN]=Giao diện Budgie
Name[nl_BE]=Budgie Bureaublad
Name[no]=Budgie skrivebord
Name[lt]=Budgie darbalaukis
Name[el_GR]=Επιφάνεια Εργασίας Budgie
Name[en_GB]=Budgie Desktop
Name[zh]=Budgie 桌面
Name[he]=שולחן עבודה Budgie
Name[bn]=Budgie ডেস্কটপ
Name[fr]=Bureau Budgie
Name[sr_RS]=Budgie радна површина
Name[da]=Budgie-skrivebord
Name[ar]=سطح مكتب Budgie
Name[sk]=Prostredie Budgie
Name[sv]=Budgie Desktop
Name[uk]=Середовище Budgie
Name[sr_RS@latin]=Badži desktop
Name[ko]=Budgie 데스크톱
Name[tr]=Budgie Masaüstü
Name[id]=Desktop Budgie
Name[bg_BG]=Budgie Работен плот
Name[gl]=Escritorio do Budgie
Name[es_AR]=Escritorio Budgie
DesktopNames=Budgie;GNOME
Icon=
Comment=This session logs you into the Budgie Desktop
Comment[es_US]=Esta sesión te permite ingresar al Escritorio Budgie
Comment[sr_RS@latin]=Ova sesija te prijavljuje u Badži desktop
Comment[gl]=Esta sesión conéctache ao Escritorio do Budgie
Comment[ro]=Această sesiune pornește în spațiul de lucru Budgie
Comment[en_GB]=This session logs you into the Budgie Desktop
Comment[fr]=Cette session vous connecte au Bureau Budgie
Comment[da]=Sessionen logger dig ind i Budgie-skrivebordet
Comment[no]=Denne økten logger deg inn til Budgie-skrivebordet
Comment[ga]=Logáil isteach i seisiún le Deasc Budgie
Comment[bg_BG]=Тази сесия ще ви отведе до Budgie работен плот
Comment[sl]=Ta seja vas vpiše v Namizje Budgie
Comment[es]=Esta sesión te permite ingresar al Escritorio Budgie
Comment[sr_RS]=Ова седница те пријављује у Budgie радну површину
Comment[lv]=Sesijas pieteikšana Budgie darbavirsmai
Comment[ms_MY]=Sesi ini mendaftar masuk anda ke Desktop Budgie
Comment[el_GR]=Αυτή η συνεδρία σας συνδέει στο Budgie Desktop
Comment[sv]=Den här sessionen startar Budgie Desktop
Comment[zh_TW]=本作業階段會讓您使用 Budgie 桌面登入
Comment[it]=Questa sessione ti fa entrare nel Desktop Budgie
Comment[ru]=Вход в сеанс рабочего стола Budgie
Comment[vi_VN]=Phiên làm việc hiện tại trên giao diện Budgie
Comment[fi]=Tämä istunto kirjaa sinut Budgie-työpöydälle
Comment[bn]=এই সেশনটির মাধ্যমে আপনি Budgie ডেস্কটপে প্রবেশ করবেন
Comment[ko]=Budgie 데스크톱에 로그인합니다
Comment[fr_BE]=Cette session vous connecte au Bureau Budgie
Comment[id]=Sesi ini membawa Anda masuk ke Desktop Budgie
Comment[es_AR]=Esta sesión te iniciará en el Escritorio Budgie
Comment[ja_JP]=このセッションではBudgieデスクトップにログインします
Comment[pt_PT]=Esta sessão regista-o no ambiente de trabalho Budgie
Comment[nl_BE]=Aanmelden in de Budgie Desktop
Comment[zh]=该会话使你登录到 Budgie 桌面
Comment[he]=מושב זה מכניס אותך לתוך שולחן עבודה Budgie
Comment[nl]=Aanmelden in de Budgie Desktop
Comment[es_PE]=Esta sesión te permite ingresar al Escritorio Budgie
Comment[cs]=Probíhá přihlašování do prostředí Budgie
Comment[tr]=Bu oturum size Budgie Masaüstü oturumu açar
Comment[eu]=Saio honek Budgie Mahaigainera sartzen zaitu
Comment[hu]=Ez a munkamenet a Budgie asztalra jelentkezik be
Comment[ar]=تدخلك هذه الجلسة إلى واجهة سطح مكتب Budgie
Comment[pt_BR]=Esta sessão loga você na área de trabalho Budgie
Comment[uk]=Вхід в сеанс середовища Budgie
Comment[de]=Diese Sitzung loggt dich in den Budgie Desktop ein
Comment[lt]=Šis seansas prijungs jus į Budgie darbalaukį
Comment[hr]=Ova sesija vas prijavljuje u Budgie radno okruženje
Comment[zh_HK]=這會把您登入至 Budgie 桌面上
Comment[es_MX]=Esta sesión te permite ingresar al Escritorio Budgie
Comment[pl]=Loguje do środowiska graficznego Budgie
Comment[eo]=Ĉi tiu seanco registras vin en la Budgie Labortablo
Comment[en_US]=This session logs you into the Budgie Desktop
Comment[ca]=Aquesta sessió us fa entrar a l'escriptori Budgie.
Comment[sk]=Táto relácia vás prihlási do prostredia Budgie
