[Desktop Entry]
Icon=
Exec=cinnamon-session-cinnamon
Type=Application
Name=Cinnamon
Comment=This session logs you into Cinnamon
Hidden=false
TryExec=/usr/bin/cinnamon
