[Desktop Entry]
X-Ubuntu-Gettext-Domain=gnome-session-3.0
Type=Application
Hidden=true
Exec=env GNOME_SHELL_SESSION_MODE=pop /usr/bin/gnome-session --session=pop
Name=Pop
DesktopNames=pop:GNOME
Comment=This session logs you into Pop
TryExec=/usr/bin/gnome-shell
X-GDM-SessionRegisters=true
